.margin50 {
    margin: 50px;
}
div {
    background-color: darkslateblue;

}
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

table{
    border-collapse: collapse;
    
   
}

td, th {
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    column-width: 150px;
    

}
.backgroudBlue {
    background-color: aqua;
}
.backggrey {
    background-color: grey;
}

.arial {
    font-family: Arial;
}
.bgimgjpp {
    background-image: url(jpp-skill.gif);
}
.center {
    text-align: center;
}
.padding50 {
    padding: 50px;
}